// PRODUCT SECTION STYLES
.prodsec {
  .display(row, space-evenly, center);
  width: 100%;
  padding: 1%;
  margin: 18% auto;
  background: lighten(@mainnavbrown, 10%);

  @media @mobile {
    .display(column, space-evenly, center);
    padding: 7%;
    background: rgba(143, 59, 27, 1);
    margin-bottom: 0;
  }

  .prodinfo {
    @media @mobile {
      margin: 7% 0;
    }
  }

  div {
    h2 {
      .headingtxt(4rem, 600, 3rem, #dbca69);

      @media @mobile {
        font-size: 1.8rem;
        margin: 2% 0;
      }

      i {
        @media @mobile {
          transform: rotate(-25deg);
        }
      }
    }
    .imgcrop {
      @media @mobile {
        width: 100%;
        overflow: hidden;
        height: 33vh;
      }
      img {
        @media @mobile {
          width: 100%;
          border-radius: 8px;
        }
      }
    }

    p {
      color: whitesmoke;
      font-size: 2.5rem;
      line-height: 3rem;
      width: 100%;

      @media @mobile {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
} // end prodsec

// GET STARTED CTA SECTION STYLES
.ctabtn {
  @media @mobile {
    display: block;
    margin: 20% auto;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 99;
  }

  a {
    @media @mobile {
      .links(@mainhdrtxt, @mainnavbrown, 2rem, 600);
      display: block;
      margin: 0 auto;
      width: 50%;
      font-size: 0.8rem;
      padding: 3.5%;
      border-radius: 5px;
      text-transform: uppercase;
    }

    &:hover {
      background: @mainhdrtxt;
      color: @mainnavbrown;
    }
  } // end a
} // end .ctabtn

// ABOUT PAGE STYLES
#aboutpg {
  .abtsec {
    color: @mainhdrtxt;
    background: lighten(@mainnavbrown, 15%);

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 7%;
      margin-top: 15%;
      text-align: left;
    }

    @media @desktop {
      margin-top: 9%;
      padding-top: 7%;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    h1 {
      color: #dbca69;

      @media @mobile {
        font-weight: 800;
        font-size: 1.3rem;
        margin-top: 17%;
      }

      @media @tablet {
        font-weight: 800;
        font-size: 2.1rem;
        margin-top: 10%;
      }

      @media @desktop {
        margin-top: 2%;
        font-size: 2.8rem;
      }
    } //end h1

    h2 {
      @media @mobile {
        font-weight: 800;
        font-size: 0.9rem;
        margin-bottom: 4%;
      }

      @media @tablet {
        font-size: 1.8rem;
        margin-bottom: 4%;
      }
    } // end h2

    p {
      @media @mobile {
        font-size: 0.8rem;
        margin-bottom: 4%;
      }

      @media @tablet {
        font-size: 1.5rem;
        margin-bottom: 4%;
      }
    } // end p

    hr {
      border: none;
      background: none;

      @media @mobile {
        width: 20%;
        margin: 5% 0;
        border-bottom: 0.3rem dotted rgba(0, 0, 0, 0.1);
      }

      @media @tablet {
        width: 20%;
        margin: 5% 0;
        border-bottom: 0.6rem dotted rgba(0, 0, 0, 0.1);
      }

      @media @desktop {
        display: block;
      }
    }

    .abtsecppl {
      img {
        border-radius: 10px;

        @media @mobile {
          width: 70%;
          margin-bottom: 6%;
        }

        @media @tablet {
          width: 75%;
          margin-bottom: 6%;
        }

        @media @desktop {
          width: 100%;
        }
      } // end img

      a {
        @media @mobile {
          color: lighten(black, 15%);
          font-size: 2rem;
          margin-bottom: 10%;
          text-decoration: none;
        }

        @media @tablet {
          font-size: 2.5rem;
          margin-bottom: 10%;
        }

        &:hover {
          @media @mobile {
            color: #dbca69;
          }
        }
      } // end a

      @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    } // end .abtsecppl

    .leader {
      h1 {
        @media @desktop {
          text-align: center;
        }
      }
      hr {
        @media @desktop {
            margin: 9% auto 11%;
            width: 60%;
          }
      }
    }

    .staff {
      @media @desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .title {
          @media @desktop {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 5%;
          }

          hr {
            @media @desktop {
              margin: 3% auto 4%;
            }
          }
        }
      }
    }
  } // end .abtsec
} // end #aboutpg
