.header {
    width:100%;
    .headertxt {
        width: 100%;
        .headingtxt(4rem, 700, 4.5rem, lighten(@mainnavbrown, 10%));
        position: relative;
        text-align: center;
        margin: 12% auto 5%;

        h1 {
            margin-bottom: 1%;
            font-size: 3rem;
        }

        h2 {
            .headingtxt(2.3rem, 600, none, #DBCA69);

            span{
                color: #668D3C;
            }
        }

        a {
            .links(@mainhdrtxt, lighten(@mainnavbrown, 10%), 1.3rem, 600);
            padding: 1.3% 3.5%;
            border-radius: 8px;

            &:hover {
                background: @mainhdrtxt;
                color: lighten(@mainnavbrown, 15%);
            }
        }
    }

    .bodybgoverlay {
        position: fixed;
        top: 0;
        z-index: -3;
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 100vh;

        @media @mobile {
        }
    }
}